/* ==========================================
   BEST SELLER SECTION
========================================== */

.best-seller-section{

    padding-top:30px;

    padding-bottom:30px;

}


/* ==========================================
   TABLET
========================================== */

@media(max-width:991px){

    .best-seller-section{

        padding-top:25px;

        padding-bottom:25px;

    }

}


/* ==========================================
   MOBILE
========================================== */

@media(max-width:768px){

    .best-seller-section{

        padding-top:20px;

        padding-bottom:20px;

    }

}