{% load static %}
<section class="promo-banners-section pt-0">
    <div class="container-fluid px-4">
        <div class="row g-3">
            {% for category in categories|slice:"3:6" %}
            <div class="col-lg-4 col-md-6">
                <div class="promo-card" {% if category.image %}style="background-image:url('{{ category.image.url }}')"{% endif %}>
                    <div class="promo-card-overlay"></div>
                    <div class="promo-card-content">
                        <span class="promo-tag">On Sale This Week</span>
                        <h5>{{ category.name }}</h5>
                        <a href="{% url 'store:category_products' category.slug %}" class="promo-link">Shop Now <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
