<section class="coupon-strip">
    <div class="container-fluid px-4">
        <div class="coupon-box">
            <div>
                <h5>Super Discount For Your First Purchase</h5>
                <p>Use discount code at checkout page</p>
            </div>
            <div class="coupon-code-wrap">
                <span class="coupon-code">FREE15FIRST</span>
                <a href="{% url 'store:shop' %}" class="coupon-btn">Shop Now</a>
            </div>
        </div>
    </div>
</section>
