<section class="features-section">

    <div class="container">

        <div class="section-header text-center">

            
            <h2>Experience Premium Shopping</h2>

            <p>
                We deliver quality products with trusted service.
            </p>
            <span class="section-heading">
                Why Choose Us
            </span>


        </div>

        <div class="row g-4">

            <div class="col-lg-3 col-md-6">

                <div class="feature-card">

                    <i class="bi bi-truck"></i>

                    <h5>Fast Delivery</h5>

                    <p>
                        Safe and quick delivery across Pakistan.
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="feature-card">

                    <i class="bi bi-patch-check"></i>

                    <h5>Premium Quality</h5>

                    <p>
                        Carefully selected quality crockery products.
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="feature-card">

                    <i class="bi bi-credit-card"></i>

                    <h5>Secure Payment</h5>

                    <p>
                        Safe and reliable payment methods.
                    </p>

                </div>

            </div>

            <div class="col-lg-3 col-md-6">

                <div class="feature-card">

                    <i class="bi bi-headset"></i>

                    <h5>Customer Support</h5>

                    <p>
                        Friendly support whenever you need help.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>