```html
<div class="filter-card">

    <h4>
        Filter Products
    </h4>

    <hr>

    <!-- Categories -->

    <h6>
        Categories
    </h6>

    <div class="list-group mb-4">

        <a href="{% url 'store:shop' %}"
            class="list-group-item list-group-item-action {% if not selected_category %}active{% endif %}">

            All Products

        </a>

        {% for category in categories %}

        <a href="{% url 'store:shop' %}?category={{ category.id }}"
            class="list-group-item list-group-item-action {% if selected_category == category.id|stringformat:'s' %}active{% endif %}">

            {{ category.name }}

        </a>

        {% endfor %}

    </div>

    <hr>

    <!-- Sort -->

    <h6>
        Sort By
    </h6>

    <form method="GET">

        {% if selected_category %}
        <input type="hidden" name="category" value="{{ selected_category }}">
        {% endif %}

        <select name="sort" class="form-select" onchange="this.form.submit()">

            <option value="low" {% if selected_sort == "low" %}selected{% endif %}>
                Price Low → High
            </option>

            <option value="high" {% if selected_sort == "high" %}selected{% endif %}>
                Price High → Low
            </option>

        </select>

    </form>

</div>