{% extends "base.html" %}
{% load static %}

{% block title %}
My Profile
{% endblock %}


{% block content %}

<section class="py-5">

<div class="container">


<div class="row justify-content-center">


<div class="col-lg-8">


<div class="card shadow border-0 rounded-4">


<div class="card-body p-5">


<h2 class="fw-bold mb-4">

<i class="bi bi-person-circle me-2"></i>

My Profile

</h2>



{% if messages %}

{% for message in messages %}

<div class="alert alert-success">

{{ message }}

</div>

{% endfor %}

{% endif %}





<form method="POST" enctype="multipart/form-data">

{% csrf_token %}



<div class="text-center mb-4">


{% if profile.profile_image %}

<img src="{{ profile.profile_image.url }}"
class="rounded-circle shadow"
style="width:130px;height:130px;object-fit:cover;">


{% else %}

<img src="{% static 'images/default-user.png' %}"
class="rounded-circle shadow"
style="width:130px;height:130px;object-fit:cover;">


{% endif %}



</div>




<div class="mb-3">

<label class="form-label fw-bold">
Profile Image
</label>

<input type="file"
name="profile_image"
class="form-control">

</div>





<div class="row">


<div class="col-md-6 mb-3">

<label class="form-label">
First Name
</label>

<input type="text"
name="first_name"
class="form-control"
value="{{ user.first_name }}">

</div>



<div class="col-md-6 mb-3">

<label class="form-label">
Last Name
</label>

<input type="text"
name="last_name"
class="form-control"
value="{{ user.last_name }}">

</div>



</div>





<div class="mb-3">

<label class="form-label">
Username
</label>

<input type="text"
class="form-control"
value="{{ user.username }}"
readonly>

</div>





<div class="mb-3">

<label class="form-label">
Email
</label>

<input type="email"
name="email"
class="form-control"
value="{{ user.email }}">

</div>





<div class="mb-3">

<label class="form-label">
Phone
</label>

<input type="text"
name="phone"
class="form-control"
value="{{ profile.phone }}">

</div>





<div class="mb-3">

<label class="form-label">
City
</label>

<input type="text"
name="city"
class="form-control"
value="{{ profile.city }}">

</div>





<div class="mb-4">

<label class="form-label">
Complete Address
</label>

<textarea name="address"
class="form-control"
rows="3">{{ profile.address }}</textarea>

</div>





<div class="d-grid gap-3">


<button class="profile-save-btn">
    Save Changes
</button>


<a href="{% url 'store:my_orders' %}"
class="btn btn-outline-dark">

<i class="bi bi-bag-check me-2"></i>

My Orders

</a>



<a href="{% url 'store:wishlist' %}"
class="btn btn-outline-danger">

<i class="bi bi-heart me-2"></i>

My Wishlist

</a>



</div>



</form>


</div>

</div>


</div>


</div>


</div>


</section>


{% endblock %}